:root{
    /* CSS HEX */
    --jet: #12100E;
    --azure-web: #eafdf8;
    --battleship-gray: #8b8982;
    --chefchaouen-blue: #3f8efc;
    --celtic-blue: #276fbf;
}

/* */
*{
    margin: 0;
    padding: 0;
}

/* set a margin for all the label */
label{
    margin-left: 30px;
}

/*  set the sizeof the body */
body{
    margin-top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--azure-web);
}

/* define the characteristics of the input question */
input{
    width: 100px;
    margin-bottom: 25px;
    margin-left: 10px;
    width: 20%;
}

/* define the characteristics of all the h1 title */
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2em;
}

/* define the characteristics of the the text */
p{
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 0;
    font-size: 1.3em;
    color: var(--jet);
}

/* define the characteristics of the the send button */
#submit{
    margin-top: 10px;
    width: 20%;
    margin-left: 30px;
}

/* define the characteristics of the the text radio button choices */
.radio{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* set the characteristics of the text font for a screen width of 800px */
@media screen and (max-width: 800px){

    label{
        font-size: 0.8em;
        word-wrap: break-word;
    }

}

/* set the characteristics of the text font for a screen width of 650px */
@media screen and (max-width: 650px){

    label{
        font-size: 0.7em;
    }

}

/* set the characteristics of the text font for a screen width of 580 */
@media screen and (max-width: 580px){

    #ap, #ap1{
        width: 1em;
    }

    #wifi1, #wifi2, #broker1, #broker2, #broker3, #broker4{
    display: flex;
        flex-direction: column;
    }

    input{
        margin-left: 30px;
        width: 30%;
    }

    #choose{
        margin-top: 5px;
        flex-direction: column;
    }
}


/* set the characteristics of the text font for a screen width of 455 */
@media screen and (max-width: 455px){

    h1{
        font-size: 1.5em;
    }

    p{
        font-size: 1em;
    }

    label{
        word-wrap: break-word;
    }

    #time{
        display: flex;
        flex-direction: column;
    }

}

/* set the characteristics of the text font for a screen width of 335 */
@media screen and (max-width: 335px){

    p{
        font-size: 0.8em;
    }
}
